<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .l {
                width: 100%;
                text-align: left;
            }
            .r {
                width: 100%;
                text-align: right;
            }
            .chat {
                text-decoration: none;
                list-style: none;
                width: 50vw;
            }
        </style>
    </head>
    <body>
        <div>
            <ol class="chat"></ol>
        </div>
        <div>
            <form action="" id="chat">
                <input type="text" id="msg" />
                <input type="submit" value="Send" />
            </form>
        </div>
        <script src="/static/js/common.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/chat.js"></script>
    </body>
</html>
